<p>
Welcome to room {{ room.name }}, 
<ul id="user-list">
{% for user in user_list %}
  <li>{{ user }}</li>
{% endfor %}
</ul>
</p>



<div id="game">
    <div id="left-side">
        <p>Time Left:</p>
        <p id="timer">3:00</p>
    </div>
    <table class="grid">
      {% for row in board %}
        <tr>
        {% for elem in row %}
          <th id="block-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}">A</th>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <div id="right-side">
        <p>Score:</p>
        <p id="score">0</p>
        <p>Correct Words:</p>
        <ul id="word-list"></ul>
        <form id="word-submit" method="POST"> 
          {% csrf_token %}
          <input type="text" id="word-guess">
          <input type="submit"/>
        </form>
        <button id="new-game">New Game</button>
    </div>
</div>

{% block script %}
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
const loc = window.location
const formData = $("#word-submit")
const wordInput = $("#word-guess")
const wordList = $("#word-list")
const userList = $("#user-list")
const newGame = $("#new-game")
const timer = $("#timer")

var wsProtocol = "ws://"
if (loc.protocol == "https:") {
  wsProtocol = "wss://"
}

var endpoint = wsProtocol + loc.host + loc.pathname
var socket = new WebSocket(endpoint)

newGame.click(() => {
  socket.send(JSON.stringify({'command': 'new_game'}))
});

function updateUserList(users) {
  userList.html("");
  for (let i = 0; i < users.length; i++) {
    let listItem = document.createElement('li');
    listItem.innerHTML = users[i];
    userList.append(listItem);
  }
}

function formatTimer(seconds) {
  let minutes = Math.floor(seconds/60);
  seconds %= 60;
  if (seconds > 9)
    return (`${minutes}:${seconds}`)
  return (`${minutes}:0${seconds}`)
}

socket.onmessage = function(e) {
  console.log("message", e)
  let socketData = JSON.parse(e.data);
  switch(socketData.msg_type) {
    case "valid_word":
      wordList.append(`<li>${socketData.word}</li>`)
      break;
    case "invalid_word":
      console.log(`${socketData.word} is not a valid word for this board!`)
      break;
    case "user_changes":
      updateUserList(JSON.parse(socketData.users));
      break;
    case "new_game":
      let board = JSON.parse(socketData.board);
      let utime = socketData.end_time;
      // Draw words
      let words = JSON.parse(socketData.words);
      console.log(words)
      wordList.html("");
      for (let word of words) {
        wordList.append(`<li>${word}</li>`)
      }
      // Draw board
      for (let i = 0; i < board.length; i++) {
        let row = Math.floor(i / 5)
        let col = i % 5
        let block = $(`#block-${row}-${col}`)
        block.html(board[i]);
      }
      // Run timer
      let x = setInterval(function() {
        let deadline = utime;
        let now = new Date().getTime()/1000;
        let delta = deadline - now;
        let seconds = Math.floor(delta);
        timer.html(formatTimer(seconds));
        if (delta <= 0) {
          clearInterval(x);
          timer.html(formatTimer(0));
          // If user is the host...
          socket.send(JSON.stringify({'command': 'game_finished'}))
        }
      }, 1000);
      break;
    default:
      console.log("unexpected message type!", e);
  }
}
socket.onopen = function(e) {
  console.log("open", e)

  formData.submit(function(event) {
    event.preventDefault()
    var wordText = wordInput.val()
    var sendData = {
      'command': 'submitted_word',
      'word': wordText
    }
    socket.send(JSON.stringify(sendData))
    formData[0].reset()
  })
}
socket.onerror = function(e) {
  console.log("error", e)
}
socket.onclose = function(e) {
  console.log("close", e)
}
</script>
{% endblock script %}
