<p>
Welcome to room {{ room.name }}, 
<ul id="user-list">
{% for user in user_list %}
  <li>{{ user }}</li>
{% endfor %}
</ul>
</p>

<ul id="word-list">

</ul>

<form id="word-submit" method="POST"> 
  {% csrf_token %}
  <input type="text" id="word-guess">
  <input type="submit"/>
</form>

{% block script %}
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
const loc = window.location
const formData = $("#word-submit")
const wordInput = $("#word-guess")
const wordList = $("#word-list")
const userList = $("#user-list")

var wsProtocol = "ws://"
if (loc.protocol == "https:") {
  wsProtocol = "wss://"
}

var endpoint = wsProtocol + loc.host + loc.pathname
var socket = new WebSocket(endpoint)

function updateUserList(users) {
  userList.html("");
  for (let i = 0; i < users.length; i++) {
    let listItem = document.createElement('li');
    listItem.innerHTML = users[i];
    userList.append(listItem);
  }
}

socket.onmessage = function(e) {
  console.log("message", e)
  let socketData = JSON.parse(e.data);
  switch(socketData.type) {
    case "new_word":
      wordList.append(`<li>${socketData.word} via ${socketData.user}</li>`)
      break;
    case "user_changes":
      updateUserList(JSON.parse(socketData.users));
      break;
    default:
      console.log("unexpected message type!", e);
  }
}
socket.onopen = function(e) {
  console.log("open", e)

  formData.submit(function(event) {
    event.preventDefault()
    var wordText = wordInput.val()
    var sendData = {
      'word': wordText
    }
    socket.send(JSON.stringify(sendData))
    formData[0].reset()
  })
}
socket.onerror = function(e) {
  console.log("error", e)
}
socket.onclose = function(e) {
  console.log("close", e)
}
</script>
{% endblock script %}
