<p>
Welcome to room {{ room.name }}, 
<ul id="user-list">
{% for user in user_list %}
  <li>{{ user }}</li>
{% endfor %}
</ul>
</p>

<ul id="word-list">

</ul>


<div id="game">
    <div id="left-side">
        <p>Time Left:</p>
        <p id="time">3:00</p>
    </div>
    <table class="grid">
      {% for row in board %}
        <tr>
        {% for elem in row %}
          <th id="block-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}">A</th>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <div id="right-side">
        <p>Score:</p>
        <p id="score">0</p>
        <p>Correct Words:</p>
        <p id="guessed-words"></p>
        <form id="word-submit" method="POST"> 
          {% csrf_token %}
          <input type="text" id="word-guess">
          <input type="submit"/>
        </form>
        <button id="new-game">New Game</button>
    </div>
</div>

{% block script %}
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
const loc = window.location
const formData = $("#word-submit")
const wordInput = $("#word-guess")
const wordList = $("#word-list")
const userList = $("#user-list")
const newGame = $("#new-game")

var wsProtocol = "ws://"
if (loc.protocol == "https:") {
  wsProtocol = "wss://"
}

var endpoint = wsProtocol + loc.host + loc.pathname
var socket = new WebSocket(endpoint)

newGame.click(() => {
  socket.send(JSON.stringify({'new_game': 'temp'}))
});

function updateUserList(users) {
  userList.html("");
  for (let i = 0; i < users.length; i++) {
    let listItem = document.createElement('li');
    listItem.innerHTML = users[i];
    userList.append(listItem);
  }
}

socket.onmessage = function(e) {
  console.log("message", e)
  let socketData = JSON.parse(e.data);
  switch(socketData.type) {
    case "new_word":
      wordList.append(`<li>${socketData.word} via ${socketData.user}</li>`)
      break;
    case "user_changes":
      updateUserList(JSON.parse(socketData.users));
      break;
    case "new_game":
      let board = JSON.parse(socketData.board);
      console.log(board);
      for (let i = 0; i < board.length; i++) {
        for (let j = 0; j < board[i].length; j++) {
          let block = $(`#block-${i}-${j}`)
          console.log(block.html);
          block.html(board[i][j]);
        }
      }
      break;
    default:
      console.log("unexpected message type!", e);
  }
}
socket.onopen = function(e) {
  console.log("open", e)

  formData.submit(function(event) {
    event.preventDefault()
    var wordText = wordInput.val()
    var sendData = {
      'word': wordText
    }
    socket.send(JSON.stringify(sendData))
    formData[0].reset()
  })
}
socket.onerror = function(e) {
  console.log("error", e)
}
socket.onclose = function(e) {
  console.log("close", e)
}
</script>
{% endblock script %}
